<p class="lead">In this task, you will press the "I" key for 'Bad' words and images from <u>one</u> group.  The "E" key is used for other images and words. 	The first couple of blocks help you get used to the task. Classify items as quickly as you can while making as few mistakes as possible. Going too slow or making too many mistakes will result in an uninterpretable score.  It is OK to make an occasional mistake. 
If you press an incorrect key you will see a "<font color=red><b>X</b></font>". Rapidly correct the error by pressing the other key.</p> 
</p>

<table class="table table-bordered">
	<tr class="active">
		<th>Category</th>
		<th>Items</th>
	</tr>
	<tr>
		<th>Bad</th>
		<td>Awful, Hate, Terrible, Unpleasant</td>
	</tr>
		<tr>
		<th>Asian people</th>
		<td>
		<img src="/implicit/user/colin/axtreplicationscore/asiansall.jpg" height="60">
	   	</td>
	</tr>
	<tr>
		<th>Black people</th>
		<td>
		<img src="/implicit/user/colin/axtreplicationscore/blacksall.jpg" height="60">
		</td>
	</tr>
	<tr>
		<th>Hispanic people</th>
		<td>
		<img src="/implicit/user/colin/axtreplicationscore/hispanicsall.jpg" height="60">
		</td>
	</tr>	<tr>
		<th>White people</th>
		<td>
		<img src="/implicit/user/colin/axtreplicationscore/whitesall.jpg" height="60">
		</td>
	</tr>
</table>

<p class="lead">There are 14 parts. The instructions change for each part. Please pay attention!<p>


