<p class="lead">
You have chosen to complete the Four-Category Race IAT. <br /><br />In this study, there will be a set of questionnaires and a sorting task involving words and pictures.  This sorting task will measure associations between Asian, Hispanic, Black, and White people. <br /> <br />The study will take around 12 minutes. At the end, you will be given feedback on your performance and information regarding the purpose of the study.  
              

