<p>Thank you for participating! How can we figure out how someone thinks and feels about racial groups?  An obvious approach is to ask them, "How much do you like Asians, Blacks, Hispanics, Whites?"  Survey questions like these assess conscious beliefs and attitudes.  However, the mind is complex.  Humans possess many thoughts and feelings that they may not consciously recognize.  These  "implicit" thoughts are often different from conscious beliefs.   
<br /><br /> 
When you sorted faces and words with the E and I keys, you were completing the Brief Implicit Association Test (IAT). The task measures how fast and accurately you categorized the words and pictures.  If you implicitly associate BAD with Asian faces more than Hispanic faces, then you should be able to categorize Asian faces with BAD faster than Hispanic faces with BAD.  So, the difference in time is a measure of how these groups are associated in our memory, regardless of whether we consciously agree with the association.
<br /><br />
Your results are displayed to the right. The groups closer to the top were least associated with BAD than the groups closer to the bottom, which were more strongly associated with BAD.  Keep in mind that, with using these BAD words, we are trying a new variation of this task.  Consequently, it is important that you interpret your results with caution.  They may be less reliable than the results you have received from other Project Implicit studies.

<b>During the IAT you just completed:</b><br/>

<div class="result" style="background-color:lightyellow">
	<b><%= showFeedback() %></b>
</div>

<br /><br />Are these results similar to your conscious beliefs?  If not, why do you think they are different?  One possibility is that the results are due to something about the task rather than your implicit thoughts or feelings.  Project Implicit labs have done a lot of research with these tools and you can review answers to <a href="https://implicit.harvard.edu/implicit/demo/background/faqs.html"> frequently asked questions </a> about it.  Another possibility is that the associations in your memory were created by different information than what influenced your conscious beliefs, such as images or experiences in your everyday life and culture.  
<br /><br />
If your score was described as 'inconclusive,' then your performance was not within the range to provide an interpretable result. Most inconclusive results are due to a high number of errors.
<br /><br />
Research is ongoing about how these implicit associations form, and how they influence human behavior.  Your participation at this website is an important contribution to that research.  We hope that the experience provided some useful insight and experience. If you have questions or comments about the purpose and aim of the study, email <a href="mailto:vcolvin@ufl.edu">Victoria Colvin</a>.
<br /><br />
<strong>Thank you again for your participation! </strong>



<p><b>Disclaimer:</b></p>
<p></p>These results are not a definitive assessment of your implicit preference. The results may be influenced by variables related to the test (e.g., the category labels or particular items used to represent the categories on the IAT) or the person (e.g., how tired you are). The results are provided for educational purposes only.</p>

<p><b>How Does The MC-IAT Work?</b></p>
<p>The MC-IAT measures the strength of associations between concepts (e.g., Black people, White people, Asian people, Hispanic people) and attributes (e.g., Good, Bad). The main idea is that making a response is easier when closely related items share the same response key. So, for example, we would say that one has an automatic preference for Black people relative to White people if they were faster to categorize words when 'Black people' and 'Good' share a response key relative to when 'White people' and 'Good' share a response key. 
Any single MC-IAT is unlikely to predict behavior well for a specific individual. In fact, because the MC-IAT has not yet been used in research as much as other implicit measures, we do not yet know much about whether it may predict behavior. </p>

<p><b>What Was This Study About?</b></p>
<p>One critique of implicit measures such as the MC-IAT is that they do not have high 'internal validity' meaning that your behavior during one set of trials may not relate well to your behavior on other trials (e.g., the first half vs. the second half). Although this is not necessarily 'exciting', it is a critical issue for our research. As such, you were randomly assigned to complete one of 11 different IATs and we will compare their reliabilities (among other tests). </p> </p>
</p>

<p><b>Does The Order In Which I Took The MC-IAT Matter?</b></p>
<p>Yes, the order in which you take the MC-IAT can influence your overall results. We are still working on how to minimize this 'order effect' which is one reason why we urge you to treat your feedback above with caution.</p>

<p><b>I Still Have Questions About The Study.</b></p>
<p>If you have questions about the IAT, please check out our <a href="/implicit/faqs.html">Frequently Asked Questions (FAQ)</a>. If you have any questions or comments about the study, please email the lead investigator Dr. Colin Tucker Smith <a href="mailto:colinsmith@ufl.edu">(colinsmith@ufl.edu)</a>.

<p><b>Your Participation And Financial Support Are Important!</b></p>
<p>Thank you again for participating in this research! We have learned so much from people like you taking the time to be part of our work. If you have time, please consider taking another test by clicking the button below.</p>
<p>As a non-profit organization, we would also appreciate your financial support. Since establishment in 2005, we have educated more than a million visitors each year about implicit biases concerning race, gender, sexual orientation, and other topics. Your donation supports Project Implicit's educational, scientific, and public service missions.</p> 










